  <!DOCTYPE html>

<html>

   <head>

   	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	 <title>Code-Brackers</title>
	       <link rel="stylesheet" type="text/css" href="/index/vendors/css/normalize.css">
	      <link rel="stylesheet" type="text/css" href="/index/resources/css/style.css">
	       <!-- <link rel="stylesheet" type="text/css" href="STANDARD @IMPORT  ">
           <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script> -->
           <link rel="stylesheet" type="text/css" href="/index/resources/css/queries.css">

    </head>

  <body>

       <header>



       	<div class="hero-text-box">


<h1>NOW CONNECT<br>
  <span class="typer" id="main" data-words="With everyone." data-colors="white" data-delay="100" data-deleteDelay="1000"></span>
  <span class="cursor" data-owner="main"></span>
</h1>

       		</div>

       </header>

       <section class="section-form">
        <div class="row">
            <h2 class="line">We're happy to translate for you</h2>
        </div>

        <div class="row">
          <form method="POST" action="#" class="contact-form">


             <div class="row">
                 <div class="col span-1-of-3">
                   <label for="find-us">Select your native language
</label>
                 </div>
                 <div class="col span-2-of-3">

                    <select name="lang" id="find-us">
                      <option value="english" selected>English</option>

                      <option value="japanese" >Japanese</option>

                      <option value="german">German</option>

                      <option value="french">French</option>
                      <option value="chineese" >Chineese</option>
                      <option value="arabic">Arabic</option>

                    </select>

                 </div>

             </div>




    <div class="row">
                 <div class="col span-1-of-3">

                   <label>&nbsp;</label>

                 </div>
                 <div class="col span-2-of-3">

               <input type="submit" value="Send it">
             </div>


          </form>
        </div>

       </section>

       <footer>
         <div class="row">
          <div class="col span-1-of-2">
            <ul class="footer-nav">
              <li><a href="#">about us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">IOS App</a></li>
              <li><a href="#">Android App</a></li>
            </ul>
          </div>


           <div class="col span-1-of-2">
             <ul class="social-links">
               <li><a href="#"><i class="ion-social-facebook"></i></a></li>
               <li><a href="#"><i class="ion-social-twitter"></i></a></li>
               <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
               <li><a href="#"><i class="ion-social-instagram"></i></a></li>
             </ul>
          </div>

         </div>

         <div class="row">
          <p>
            copyright &copy; 2017 by code breakers. All rights are reserved.
          </p>

         </div>
       </footer>



<script src="//cdn.jsdeliver.net/respond/1.4.2/respond.min.js"></script>
<script src="//cdn.jsdeliver.net/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.jsdeliver.net/selectivizr/1.0.3b/selectivizr.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/index/resources/js/script.js"></script>
 <script src="/index/vendors/js/typer.js"></script>
<script src="/index/vendors/js/jquery.waypoints.min.js"></script>
   </body>
</html>


<!--

-->
